[submodule "CompatibilityRuntime/thirdparty/msgpack-c"]
	path = GameServer/thirdparty/msgpack-c
	url = https://github.com/msgpack/msgpack-c.git
[submodule "CompatibilityRuntime/bionic/bionic"]
	path = CompatibilityRuntime/bionic/bionic
	url = https://github.com/exyorha/crbionic.git
[submodule "CompatibilityRuntime/thirdparty/bdwgc"]
	path = CompatibilityRuntime/thirdparty/bdwgc
	url = https://github.com/ivmai/bdwgc.git
[submodule "GameServer/thirdparty/lz4"]
	path = third_party/lz4
	url = https://github.com/lz4/lz4.git
[submodule "GameServer/thirdparty/yajl"]
	path = GameServer/thirdparty/yajl
	url = https://github.com/lloyd/yajl.git
[submodule "GameServer/thirdparty/libevent"]
	path = GameServer/thirdparty/libevent
	url = https://github.com/libevent/libevent.git
[submodule "winmpv"]
	path = winmpv
	url = https://github.com/exyorha/winmpv.git
[submodule "asset-processing/unityasset"]
	path = common/unityasset
	url = https://github.com/exyorha/unityasset.git
[submodule "asset-processing/bc7enc_rdo"]
	path = asset-processing/bc7enc_rdo
	url = https://github.com/richgel999/bc7enc_rdo.git
