body {
    margin: 0;
    font-family: sans-serif;
}

.page-header {
    background-color: #445;
    display: flex;
    align-items: center;
    padding: 1em 0;
    color: white;
}

.page-header .title {
    margin: 0 0.5em;
    font-size: 2.5em;
    position: relative;
    padding-left: 1.75em;
    display: block;
    text-decoration: none;
    color: inherit;
}

.page-header .title .logo {
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
}

#server-time {
    margin: 0 1em 0 auto;
    display: none;
}

#server-time .time-travel-notice {
    color: #ee0;
}

#server-time.operational {
    display: block;
}

#server-time .time-travel-container {
    display: none;
}
#server-time.time-traveling .time-travel-container {
    display: block;
}

#server-cli {
    display: flex;
    flex-direction: column;
    padding: 0.5em;
    position: relative;
    /*position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50%;*/
}

#server-cli .log {
    border: solid 1px black;
    overflow: auto;
    flex: 1;
    white-space: pre;
    padding: 0.5em;
    font-family: monospace;
}

#server-cli input[name='command'] {
    margin-top: 0.5em;
}

#server-cli .overlay-message {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.5);
}

#server-cli .overlay-message span {
    background-color: rgb(255, 255, 255);
    padding: 0.5em;
    border-radius: 0.5em;
}

#server-cli .overlay-message.connecting-overlay-message {
    display: flex;
}

#server-cli .overlay-message.disconnected-overlay-message {
    display: none;
}

#server-cli.connected .overlay-message.connecting-overlay-message,
#server-cli.disconnected .overlay-message.connecting-overlay-message {
    display: none !important;
}

#server-cli.disconnected .overlay-message.disconnected-overlay-message {
    display: flex !important;
}

ul.entity-list {
    background-color: #556;
    margin: 0;
    padding: 1em;
    list-style-type: none;
}

ul.entity-list > li {
    display: inline-block;
    margin: 0 0.25em;
}

ul.entity-list a {
    color: white;
}

.main-content {
    padding: 0 1em;
}

