html {
    box-sizing: border-box;
    height: 100%;
}

body {
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    height: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.main-body {
    flex-grow: 1;
    overflow: auto;
}

.page-header {
    background-color: #445;
    display: flex;
    align-items: center;
    padding: 1em 0;
    color: white;
}

.page-header .title {
    margin: 0 0.5em;
    font-size: 2.5em;
    position: relative;
    padding-left: 1.75em;
    display: block;
    text-decoration: none;
    color: inherit;
}

.page-header .title .logo {
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
}

#server-time {
    margin: 0 1em 0 auto;
    display: none;
}

#server-time .time-travel-notice {
    color: #ee0;
}

#server-time.operational {
    display: block;
}

#server-time .time-travel-container {
    display: none;
}
#server-time.time-traveling .time-travel-container {
    display: block;
}

#server-cli {
    display: flex;
    flex-direction: column;
    max-height: 16em;
    flex-grow: 0;
    flex-shrink: 0;
    background-color: #445;
    color: white;
}

#server-cli .header {
    padding: 0.5em;
    background-color: #556;
}

#server-cli .header #server-cli-visibility-switch {
    float: right;
    cursor: pointer;
    text-decoration: underline dashed;
}

#server-cli.hidden .log-section {
    display: none;
}

#server-cli.hidden .commandline {
    display: none;
}

#server-cli #server-cli-visibility-switch .show {
    display: none;
}

#server-cli #server-cli-visibility-switch .hide {
    display: inline;
}

#server-cli.hidden #server-cli-visibility-switch .show {
    display: inline;
}

#server-cli.hidden #server-cli-visibility-switch .hide {
    display: none;
}

#server-cli .log-section {
    flex: 1;
    background-color: #445;
    border: solid 1px white;
    overflow: auto;
    padding: 0.5em;
    position: relative;
}

#server-cli .log {
    white-space: pre;
    font-family: monospace;
}

#server-cli input[name='command'] {
    margin-top: 0.5em;
}

#server-cli .commandline {
    margin: 0.5em;
}

#server-cli .disconnected-overlay-message {
    display: none;
}

#server-cli.connected .connecting-overlay-message,
#server-cli.disconnected .connecting-overlay-message {
    display: none !important;
}

#server-cli.disconnected .disconnected-overlay-message {
    display: inline !important;
}

ul.entity-list {
    background-color: #556;
    margin: 0;
    padding: 1em;
    list-style-type: none;
}

ul.entity-list > li {
    display: inline-block;
    margin: 0 0.25em;
}

ul.entity-list a {
    color: white;
}

.main-content {
    padding: 0 1em;
}

